.search-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.search-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-container form {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust the number of columns and their size as needed */
  gap: 10px;
}

.search-container .form-group {
  display: flex;
  flex-direction: column;
}

.search-container label {
  font-weight: bold;
}

.search-container select,
.search-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container button {
  grid-column: 1 / -1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}

.recommended-courses {
  margin-top: 40px;
  border-top: 1px solid #ccc; /* Add a border at the top of the recommended courses section */
}

.recommended-courses h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

.recommended-courses ul {
  list-style: none;
  padding: 0;
}

.recommended-courses li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Add a border at the bottom of each recommended course */
  padding-bottom: 20px; /* Add some padding at the bottom of each recommended course */
}

.recommended-courses li:last-child {
  border-bottom: none; /* Remove the border from the last recommended course */
}

.recommended-courses li div {
  margin-bottom: 8px;
}

.recommended-courses li div strong {
  margin-right: 5px;
  font-weight: bold;
}

.recommended-courses li div a {
  color: #007bff;
  text-decoration: none;
}

.recommended-courses li div a:hover {
  text-decoration: underline;
}
