.search-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.search-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-container form {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust the number of columns and their size as needed */
  gap: 10px;
}

.search-container .form-group {
  display: flex;
  flex-direction: column;
}

.search-container label {
  font-weight: bold;
}

.search-container select,
.search-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container button {
  grid-column: 1 / -1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}
